body,h1,p {margin:0;padding:0;}

.container {margin-top:5px;}
#content {margin-top:40px;}
#complete:hover {color:#5CB85C;} 
#delete:hover {color:#D9534F;}
.title-text {margin-left:200px;}
#famous {margin-top:50px;}
#info {margin-top:50px;}
.welcome {color:#428BCA;position:relative;left:750px;margin-right:0px;}
h3 {color:#3071A9;}
#comp_tent {margin-top:40px;}
